@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

body {
  /* https://www.youtube.com/watch?v=-sF5KsEo6gM */
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  background: #2465a7;
  /* https://stackoverflow.com/questions/7427331/css-background-gradient-repeat-issue */
  background-attachment: fixed;
}

.current {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 6;
  margin-bottom: 4em;
}

.search {
  display: flex;
  flex: 1;
  justify-content: center;
}

.search > div {
  height: 100%;
  margin-top: 0.8em;
  flex: 0 0 480px;
  display: flex;
}

.search > div > input {
  height: 100%;
  text-align: center;
  color: black;
  padding: 0.5em;
  flex: 9;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search > div > button {
  height: 100%;
  flex: 1;
  border: none;
  background-color: #a6a6a6;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
.fa-search {
  color: black;
}

.city {
  margin-top: 30px;
}
.conditions {
  display: flex;
  flex: 5;
  flex-flow: row wrap;
}

.conditions > .condition {
  flex: 0 0 480px;
  display: grid;
  grid: repeat(3, 1fr) / repeat(2, minmax(240px, 1fr));
  padding-left: 2em;
}

.condition > :nth-child(1) {
  font-size: 2em;
}
.condition > :nth-child(2) {
  font-weight: 100;
}

.condition > img {
  grid-area: 1/1/-1/2;
  justify-self: stretch;
  align-self: stretch;
  object-fit: contain;
}

.condition > :nth-child(2) {
  grid-area: 1/2/3/-1;
  justify-self: center;
  align-self: center;
  font-size: 5em;
  font-weight: 100;
}

.condition > :nth-child(3) {
  justify-self: center;
  align-self: center;
}

.conditions > .other-data {
  flex: 1;
  flex-basis: 480px;
  display: grid;
  grid: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 20px;
}

.other-data > * {
  justify-self: stretch;
  align-self: end;
  background: #346aa8;
  border-radius: 12px;
  text-align: center;
}

.other-data > * > p {
  padding: 1em;
}

.other-data > * > :nth-child(1) {
  font-weight: 900;
  font-size: 1.2em;
}

.other-data > * > :nth-child(2) {
  font-weight: 100;
  color: white;
  font-size: 0.8em;
}

.forecast {
  width: 100%;
  flex: 4;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
}

.forecast > h3 {
  flex: 1;
  padding-left: 2em;
}

.forecast > .today-forecast {
  flex: 9;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.today-forecast > div {
  flex: 1;
  margin: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1em;
  background-color: #346aa8;
}

.today-forecast > div > :nth-child(1) {
  flex: 1;
  text-align: center;
  font-size: 0.8em;
}

.today-forecast > div > :nth-child(2) {
  flex: 2;
}

.today-forecast > div > :nth-child(3) {
  flex: 1;
  text-align: center;
  font-size: 1.2em;
}
